In [1]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현: [요소1, 요소2, 요소3, ...]

In [7]:
array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [8]:
array[0]

1

In [9]:
array[-1]

True

In [10]:
array[4]  # .. 범위를 벗어남

IndexError: list index out of range

In [11]:
for item in array:
    print(item)

1
3.14
문자열
True

In [31]:
# [3.5 , 10.3 , 3.2 , 7.8 , 5.4] 라는 리스트가 있을 때
# 리스트에서 1)최댓값, 2)최솟값, 3)평균, 4)분산을 출력하시오
#       분산 : (요소값 - 평균)^2 / 개수
array = [3.5 , 10.3 , 3.2 , 7.8 , 5.4]
array

[3.5, 10.3, 3.2, 7.8, 5.4]

In [40]:
# 1) 최대값
max = float("-Inf")
for number in array:
    if number > max:
        max = number
max

10.3

In [48]:
# 2) 최소값
min = float("Inf")
for number in array:
    if number < min:
        min = number
min

3.2

In [49]:
# 3) 평균
sum = 0
for number in array:
    sum += number
avg = sum / 5
# 같은 식 =avg = round(sum / 5, 2)
# 같은 식 = avg = round(sum / len(array), 2)
avg

6.040000000000001

In [51]:
# 4) 분산
sum = 0
for number in array:
    sum += (number - avg) ** 2
dispersion = round(sum / len(array), 2)
dispersion

7.23

In [52]:
# 리스트의 개수 구하기
# len()내장함수로 리스트의 길이를 구할 수 있음

In [54]:
len(array)

5

In [55]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
# 리스트에 자료 추가하기 #
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 *추가*할 수 있음
# 리스트 객체에 insert(인덱스,요소) 메서드를 사용하여 특정 인덱스에 요소를 *삽입*할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 *확장*할 수 있음

In [59]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [84]:
numbers.append(4)
numbers

[0, 1, 2, 3, 99, 123, 4]

In [71]:
numbers.insert(0, -100)
numbers

[-100, 0, 1, 2, 3, 4, 99, 99, 99, 99, 99, 99, 123, 321]

In [86]:
numbers.extend([123, 321])
numbers

[0, 1, 2, 3, 99, 4, 123, 321]

In [67]:
# 리스트에서 요소 삭제
# del 요소: 요소를 메모리 상에서 제거
# pop() :  마지막 요소를 반환하고 제거
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소값) : 지정한 요소값을 제거 (*주의*_첫번째로 만난 요소만 제거)

In [87]:
del numbers[5]
numbers

[0, 1, 2, 3, 99, 123, 321]

In [90]:
numbers.pop()

123

In [91]:
numbers.pop(2)

2

In [92]:
numbers

[0, 1, 3, 99]

In [93]:
numbers = [1, 1, 1, 2, 2, 3]
numbers

[1, 1, 1, 2, 2, 3]

In [94]:
numbers.remove(2)
numbers

[1, 1, 1, 2, 3]

In [95]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환"numbers[:11]"

In [96]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [97]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [100]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [101]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [11]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [114]:
names.append('한시우')
names

['김이준', '이서아', '박도윤', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [105]:
names.remove('최이서')
names

['김이준', '이서아', '박도윤', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우', '한시우']

In [106]:
new_names = names[4:9]
new_names

['강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [1]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입 연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입할 수 있음

In [3]:
numbers = [1, 2, 3]

In [4]:
number1, number2, number3 = numbers
print(f'{number1}{number2}{number3}')

123

In [6]:
# 만약 복수 할달할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
number1, number2 = numbers

ValueError: too many values to unpack (expected 2)

In [7]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어 주는 내장 함수

In [8]:
enumerate(numbers)

In [9]:
for index, item in enumerate(numbers):
    print(f'인덱스:{index}, 요소{item}')

인덱스:0, 요소1
인덱스:1, 요소2
인덱스:2, 요소3

In [10]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [12]:
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [13]:
scores = [70, 85, 60, 55, 90, 100, 100, 65, 75, 40]
scores

[70, 85, 60, 55, 90, 100, 100, 65, 75, 40]

In [15]:
name_scores = list(zip(names, scores))
name_scores

[('김이준', 70),
 ('이서아', 85),
 ('박도윤', 60),
 ('최이서', 55),
 ('정하준', 90),
 ('강아윤', 100),
 ('조은우', 100),
 ('윤지아', 65),
 ('장서준', 75),
 ('임하윤', 40)]