In [ ]:
# 반복문 
# for 반복문: 반복할 횟수가 정해져있는 반복 작업에서 사용
# for 변수 in range(반복횟수):
#   반복할 실행문

In [8]:
# for (int index = 0; index < 5; index++) {}  => X

# int[] array = {0, 1, 2, 3, 4};
# for (int index: array) {}  => O

# range(정수): 0부터 정수-1 까지의 정수 리스트 생성
# range(시작 정수, 종료 정수): 시작 정수부터 종료 정수-1 까지의 정수 리스트 생성
# range(시작 정수, 종료 정수, 차이정수): 시작 정수부터 종료 정수-1 까지의 정수 리스트를 생성하는데 차이정수 만큼의 차이를 가지며 변경됨
    
for index in range(5):
    print(index)
    
for index in range(5, 10):
    print(index)
    
for index in range(5, 10, 3):
    print(index)
    
for index in range(10, -1, -1):
    print(index)

0
1
2
3
4

In [21]:
for star in range(10):
    print("*" * (star + 1))

*
**
***
****
*****
******
*******
********
*********
**********

In [23]:
for star in range(10, 0, -1):
    print("*" * star)

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
for star in range(9):
    print("*" * (star + 1))
for star in range(10, 0, -1):
    print("*" * star)
# 같은 식 입니다
for star in range(1, 20):
    if star <= 10:          # 1-10번째 까지 출력문
        print("*" * (star))
    # 11번째 - 9개 / 12번째 - 8개 ... 더해서 20 
    else:
        print ("*" * (20 - star))

In [60]:
for star in range(7):    # 1 3 5 7 9 11 9 7 5 3 1 / 11에서 양옆을 자른다..
    print("*" * (star * 2 -1))
# -==-==-==-==-==-===-====-=--=-=-=-=-================================
for count in range(1,12):
    if count <= 6:
        print(" " * (6 - count) + "*" * (count * 2 - 1))  
    else:
        print(" " * (count - 6) + "*" * ((12 - count) * 2 -1))
# ====================================================================
for count in range(1,12):
    star = "*"
    if count <= 6:
       star = "*" * (count * 2 - 1)
    else:
        star = "*" * ((12 - count) * 2 - 1)
    print(f'{star:^11}')

*
***
*****
*******
*********
***********
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
# ex) 예제 문제 _ 중첩 반복문
# 0 1 2 3
# 1 2 3 4
# 2 3 4 5
# 3 4 5 6  
# 위와 같이 출력한다.

In [ ]:
for a in range(4):
    for b in range(4):
        print(a + b, end=" ")
    print(" ")

In [ ]:
for start in range(4):
    for value in range(start, start + 4):
        print(value, end=" ")
    print(" ")

In [ ]:
# ex) 예제 문제 _ 중첩 반복문
# 만약 주사위를 두 번 던져서 나온 숫자들의 합이 4의 배수가 되는 경우만 구해야 한다면 다음과 같이 if 조건문을 추가한다.

In [ ]:
for a in range(1,7):
    for b in range(1, 7):
        if ((a + b) % 4) == 0:
            print(f"{a} {b}")

In [ ]:
# ex) 예제 문제
# 어떤 주식의 가격은 매일 한 번 동전을 던져서 앞면이 나오면 전날 가격의 2배가 되고, 뒷면이 나오면 전날 가격의 절반이 된다. 
#                   1일에 주식의 가격이 1,024원이었을 때, 4일 주식의 가격이 나올 수 있는 경우를 모두 구한다

In [ ]:
for day1 in range(2):
    for day2 in range(2):
        for day3 in range(2):
            for day4 in range(2):
                print(1024 * 2**(2*day1 - 1) * 2**(2*day2 - 1) * 2**(2*day3 - 1) * 2**(2*day4 - 1))
                # print(f'{day1} {day2} {day3} {day4}')

In [ ]:
for count in range (1, 11):
    sum = 0
    for value in range(count):
        sum += value
    print(sum)

In [72]:
# 다음과 같은 수열이 있을 경우에 10번째 수열의 값을 구한다.
# 1+(1+2)+(1+2+3)+(1+2+3+4)+⋯+(1+⋯+10)
sum = 0
for count in range (1, 11):
    for value in range(count + 1):
        sum += value
print(sum)

220